# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/kyrs3.1/FileContentIndex/16c0effc-c9c9-4823-8b63-78499b13af80.vsidx
.vs/kyrs3.1/FileContentIndex/213bba8c-246e-4f27-bf40-a9255474e4f1.vsidx
.vs/kyrs3.1/FileContentIndex/22d8b971-10c2-4f82-a99f-6f68803ad6fa.vsidx
.vs/kyrs3.1/FileContentIndex/2ab3ee83-bdc5-4e5d-ae8f-ab5870f1610b.vsidx
.vs/kyrs3.1/FileContentIndex/952b72f7-f9f4-4289-b3ae-a9e43881d772.vsidx
.vs/kyrs3.1/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.recipe
*.ilk
*.log
*.pdb
*.tlog
*.txt
*.idb
*.vsidx
*.vsidx
*.vsidx
.vs/kyrs3.1/FileContentIndex/4cfa9be0-6f57-4643-ae19-adaec7a59f85.vsidx
